# GNN
*.avi
GNN/data
GNN/build/
GNN/visualize_edges/

# PhysTwin
PhysTwin/experiments/
PhysTwin/data/
PhysTwin/experiments_optimization/
PhysTwin/gaussian_output/
PhysTwin/generated_data/
PhysTwin/generated_videos/
PhysTwin/temp_experiments/
PhysTwin/xarm/

PhysTwin/data_process/models/weights/
PhysTwin/data_process/groundedSAM_checkpoints/
PhysTwin/data_process/TRELLIS/

# All
*.egg-info
*.png
*.so
*.prof
*.profile
*.mp4
*.zip
__pycache__/
.DS_Store
*.pth
